mdds-data-element/12. ADT Entity/Decision_to_Admit_Date.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name= "Decision_to_Admit_Date">
<!-- MDDS Code id (05.012.0002)-->
<xs:complexType>
<xs:sequence>
<xs:element name="Day" type="xs:integer" maxOccurs="2"/>
<xs:element name="Month" type="xs:integer" maxOccurs="2"/>
<xs:element name="Year" type="xs:integer" maxOccurs="4"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>








