mdds-data-element/19. Clinical Notes Entity/Family Member Age at Onset of Health Condition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name= "Family_Member_Age_at_Onset_of_Health_Condition">
<!-- MDDS Code id (05.019.0010)-->
<xs:complexType>
<xs:sequence>
<xs:element name="Year" type="xs:integer" maxOccurs="3"/>
<xs:element name="Month" type="xs:integer" maxOccurs="2"/>
<xs:element name="Days" type="xs:integer" maxOccurs="2"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>