mdds-data-element/19. Clinical Notes Entity/Patient Age at onset of health condition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name= "Patient_Age_at_onset_of_health_condition">
<!-- MDDS Code id (05.019.0009)-->
<xs:complexType>
<xs:sequence>
<xs:element name="Year" type="xs:integer" maxOccurs="3"/>
<xs:element name="Month" type="xs:integer" maxOccurs="2"/>
<xs:element name="Days" type="xs:integer" maxOccurs="2"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>