mdds-data-element/6. Source of Payment Entity/Date_of_Commencement_of_First_Insurance_Without_Break.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name= "Date_of_Commencement_of_First_Insurance_Without_Break">
<!-- MDDS Code id (05.006.0016)-->
<xs:complexType>
<xs:sequence>
<xs:element name="Day" type="xs:integer" maxOccurs="2"/>
<xs:element name="Month" type="xs:integer" maxOccurs="2"/>
<xs:element name="Year" type="xs:integer" maxOccurs="4"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>








