mdds-data-element/6. Source of Payment Entity/Expected_Hospitalization_Duration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name= "Expected_Hospitalization_Duration">
<!-- MDDS Code id (05.006.0014)-->
<xs:complexType>
<xs:sequence>
<xs:element name="Month" type="xs:integer" maxOccurs="2"/>
<xs:element name="Days" type="xs:integer" maxOccurs="2"/>
<xs:element name="Hours" type="xs:integer" maxOccurs="2"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>