mdds-data-element/4. Employee Entity/Duration_of_Course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name= "Duration_of_Course">
<!-- MDDS Code id (05.004.0029)-->
<xs:complexType>
<xs:sequence>
<xs:element name="Year" type="xs:integer" maxOccurs="4"/>
<xs:element name="Month" type="xs:integer" maxOccurs="2"/>
<xs:element name="Days" type="xs:integer" maxOccurs="2"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>