mdds-data-element/4. Employee Entity/Place_of_Transfer.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Place_of_Transfer">
<!-- MDDS code id (05.004.0062)-->
<xs:simpleType name="Name_of_a_Land_region_in_English">
          <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
          </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Name_of_a_Land_region_in_recognized_official_langauge">
          <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
          </xs:restriction>
</xs:simpleType>
</xs:element>
</xs:schema>
