mdds-data-element/31. Inventory Entity/Supplier Expected Turn Around Time.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name= "Supplier_Expected_Turn_Around_Time">
<!-- MDDS Code id (05.031.0041)-->
<xs:complexType>
<xs:sequence>
<xs:element name="Year" type="xs:integer" maxOccurs="4"/>
<xs:element name="Month" type="xs:integer" maxOccurs="2"/>
<xs:element name="Days" type="xs:integer" maxOccurs="2"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>