mdds-data-element/38. Ambulance Entity/Ambulance Origination Site Name.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Ambulance_Origination_Site_Name">
<!-- MDDS code id (05.038.0015)-->
<xs:simpleType name="Name_of_a_Land_region_in_English">
           <xs:restriction base="xs:string">
           <xs:maxLength value="50"/>
           </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Name_of_a_Land_region_in_recognized_official_langauge">
           <xs:restriction base="xs:string">
           <xs:maxLength value="50"/>
           </xs:restriction>
</xs:simpleType>
</xs:element>
</xs:schema>